h1{
    font-size: 4rem;
    font-family: 'Titillium web', sans-serif;
    font-weight: 700;
}
h2{
    font-size: 3.25rem;
}
h3{
    font-size:  2.5rem;
}
h4{
    font-size: 1.75rem;
}
hr{
    color: #010b0c;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.container1{   
    background-image: url("/Slike/mapa.svg");
    background-color: var(--pozadinska);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:right;
    padding-top: 10.5%;
    padding-bottom: 10.5%;

}
.tekst1{
    z-index: 1;
    color: var(--glavnaBoja);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:  10.5%;
}

.brojac{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    color: var(--glavnaBoja);
    margin-left: 8.5%;
    margin-right: 8.5%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    color:var(--glavnaBoja);
}
.broj{
    text-align: center;

}
.broj > h3{
    display: inline;
    font-size: 1.95rem;
}
.broj > i{
    text-align: center;
    font-size: 2.15rem;
}

.izmedju{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--glavnaBoja);
}


/* OVO JE DEO VEZAN ZA KARTICE I SAMO ZA KARTICE */


.kartice{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 35px;
    column-gap: 35px;
    padding: 50px 20px 50px 20px; 
}
.kartica{
    color: #ffffff;
    background-color: var(--glavnaBoja);
    border: 1px solid rgba(20,20,20,0.5);
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    padding: 10rem 0 0;
    min-height: 275px;
    min-width: 275px;
    transition: transform 500ms ease;
}
.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
    hsl(0 0% 0%/0),
    hsl(20 0% 0%/0.3) 20%,
    hsl(40 0% 0%/0.5)40%,   
    hsl(0 0% 0%/1)
    );  
}   
.card-title::after{
    content: "";
    position: absolute;
    left:calc(var(--padding)*-1);
    bottom: -2px;
    height: 4px;
    width: calc(100% + var(--padding));
    background: #d2e076;
    transform-origin: left;
    transition: transform 600ms ease;
}
.card-title{
    position: relative;
    width: max-content;
}
.button{
    cursor: pointer;
    text-decoration: none;
    background-color: var(--glavnaBoja);
    color:#ffffff;
    display: inline-block;
    padding: 0.5em 1.25em;
    border-radius: 0.25em;
}
.vidljiv{
    font-size: 1.25rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    color:rgba(255, 254, 254, 0.9);
}
.drum{
    /* background-image: url("https://images.unsplash.com/photo-1578575437130-527eed3abbec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"); */
    background-image: url("/Slike/truck.jpg");
    background-size: cover;
}
.avio{
    background-image: url("https://images.unsplash.com/photo-1444313431167-e7921088a9d3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fGNhcmdvJTIwdHJhbnNwb3J0YXRpb258ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center;
}
.brod{
    background-image: url("https://images.unsplash.com/photo-1613690399151-65ea69478674?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyZ28lMjB0cmFuc3BvcnRhdGlvbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: left;
}
.zbirni{
    background-image:url("/Slike/intermod.gif");
    background-size: cover;
    background-position: center;
}
.carina{
    background-image: url("/Slike/carina-poÄetna-velika.jpg");
    background-size: cover;
    background-position: center;
}
.skladiste{
    background-image: url("/Slike/magacin-velika.jpg");
    background-size: cover;
    background-position: center;
}
@media (hover){
    
    .card-content{
            transform: translateY(75%);
            transition: transform 500ms ease;
    }
   .prvi{
    transform: translateY(80%);
   }
   .drugi{
    transform: translateY(85%);
   }
   .treci{
    transform: translateY(85%);
   }
   .cetvrti{
    transform: translateY(85%);
   }
   .sesti{
    transform: translateY(90%);
   }
    .button:hover,
    .button:focus{
            background-color: #a7c3f3;
            color:#010b0c;
        }
    
    .kartica:hover,
    .kartica:focus-within{
            transform: scale(1.05);
            border: 1.5px solid rgb(20,20,20);    
            box-shadow: 0 0 10px #f9f9f9, 0 0 20px , 0 0 30px #0047ab, 0 0 40px #00389c,
            0 0 50px #00298d, 0 0 60px var(--glavnaBoja);    
        }
    
    .kartica:hover .card-title::after,
    .kartica:focus-within .card-title::after{
            transform: scaleX(1);
        }
    
    .kartica:hover .card-content,
    .kartica:focus-within .card-content{
    
            transform: translateY(0);
            transition-delay: 500ms;
    }
    .kartica:hover .drugi,
    .kartica:focus-within .drugi{
    
            transform: translateY(10.5%);
            transition-delay: 500ms;
    }
    .kartica:hover .treci,
    .kartica:focus-within .treci{
    
            transform: translateY(10%);
            transition-delay: 500ms;
    }
    .kartica:hover .cetvrti,
    .kartica:focus-within .cetvrti{
    
            transform: translateY(10%);
            transition-delay: 500ms;
    }
    .kartica:hover .sesti,
    .kartica:focus-within .sesti{
    
            transform: translateY(20%);
            transition-delay: 500ms;
    }
    .kartica:focus-within .card-content{
    
            transition-duration: 0ms;
    
        }
    
    .kartica:hover .card-content >*:not(.card-title),
    .kartica:focus-within .card-content >*:not(.card-title){
            opacity: 1;
            transition-delay: 600ms;
    }
    .card-content > *:not(.card-title){
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .card-title::after{
        transform: scaleX(0);     
    }
}

/* OVO JE DEO ZA LJUDE KOJI NE ZELE ANIMACIJE */
@media(prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms
        !important;
        animation-iteration-count: 1
        !important;
        transition-duration: 0.01ms
        !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

/*OVDE SE ZAVRSAVA DEO KARTICE*/


.about{
    display: grid;
    grid-template-columns:1fr 1fr;
    background-color: var(--glavnaBoja);
    color:#f9f9f9;
    margin: 5% 7.5%;
    height: 15%;
    width: auto;
    border-radius: 5px;
}
.about > div{
    margin: 0;
}
.slikovni-deo{
    background-image: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Z3JvdXAlMjBidXNpbmVzcyUyMHBob3RvfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center;
    border-radius: 5px 0 0 5px;
}
.tekstualni-deo-tekst{
    font-size: 1.5rem;
}
.tekstualni-deo-tekst>h2{
    text-align: center;
}
.tekstualni-deo-tekst > p{
    padding-top: 2.05rem;
}

.tekstualni-deo-tekst{
    padding: 1.5rem;
    align-items: center;
}

#dugme-Mi{
    background-color: #ffffff;
    color: var(--glavnaBoja);
    transition: 500ms ease;
    display: inline-block;
    margin-top: 2.5%;
}
#dugme-Mi:hover{
    background-color: var(--glavnaBoja);
    color:#ffffff;
    outline: 2px solid white;
    box-shadow: 0 0 10px #f9f9f9, 0 0 20px , 0 0 30px #0047ab, 0 0 40px #00389c,
    0 0 50px #00298d, 0 0 60px var(--glavnaBoja);

}
.dugme-O-Nama{
    background-color: var(--glavnaBoja);
    text-align: center;
    padding: 3px;
    border-radius: 0 0 5px 0;
}




.ikonica{
    text-align: center;
    padding: 20px;
    font-size: 2.25rem;
}

.oNama{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--glavnaBoja);
}
.txt{
    font-size: 1.35rem;
    color: #ffffff;
}

.kontakt{
    border-top: 2px solid rgba(20,20,20,0.5);
    padding-top: 25px;
    background-color: var(--glavnaBoja);
    color:rgba(232, 224, 224, 0.9);
    font-size: 1.15rem;
}
.kontakt i{
    color: rgba(232, 224, 224, 0.9);
    padding: 15px;
    font-size: 1.35rem;
}




.reveal{
    position: relative;
    transform: translateY(250px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  @media screen and (max-width: 1300px) {
    .brojac{
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .broj{
        padding:12.5px;
    }
    .kartice{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .container1{   
        background-image: url("/Slike/mapa.svg");
        background-color: var(--pozadinska);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position:right;
        padding-top: 10.5%;
        padding-bottom: 10.5%;
    
    }
    .tekst1{
        z-index: 1;
        color: var(--glavnaBoja);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left:  12.5%;
    }
    .dugme-O-Nama{
        padding-bottom: 45px;
    }
}

@media screen and (max-width: 1050px) {
    .brojac{
        grid-template-columns:1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .broj{
        padding:12.5px;
    }
    .kartice{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .container1{   
        background-image: url("/Slike/mapa.svg");
        background-color: var(--pozadinska);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position:right;
        padding-top: 10.5%;
        padding-bottom: 10.5%;
    
    }
    .tekst1{
        z-index: 1;
        color: var(--glavnaBoja);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left:  8%;
    }
    .tekst1>h1{
        font-size: 2.5rem;
    }

    .tekstualni-deo{
        padding-bottom: 50px;
    }
}

@media (max-width: 800px) {
    .brojac{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .broj{
        padding:12.5px;
    }
    .kartice{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .container1{   
        background-image: url("/Slike/mapa.svg");
        background-color: var(--pozadinska);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position:right;
        padding-top: 10.5%;
        padding-bottom: 10.5%;
    
    }
    .tekst1{
        z-index: 1;
        color: var(--glavnaBoja);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left:  8%;
    }
    .tekst1>h1{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 480px) {
    .brojac{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .broj{
        padding:12.5px;
    }
    .kartice{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .container1{   
        background-image: url("/Slike/mapa.svg");
        background-color: var(--pozadinska);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position:right;
        padding-top: 10.5%;
        padding-bottom: 10.5%;
    
    }
    .tekst1{
        z-index: 1;
        color: var(--glavnaBoja);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left:  0.5%;
    }
}