:root {
    --glavnaBoja:  rgba(4,75,161,255);
  }

/* custom scrollbar */

::-webkit-scrollbar{
    width:10px;
    transition: 750ms;
}

::-webkit-scrollbar-track{
    margin:100px 0 10px;
}

::-webkit-scrollbar-thumb{
    background-color:rgba(255, 2555, 255, 0.5);
    border-radius: 15px;
    height:60px;
}



body{
    overflow-x:hidden ;
    margin:0;
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-areas:"header"
    "main"
    "footer";
    grid-template-rows: 90px auto auto;
    scrollbar-gutter: auto both-edges;
}

header{
    grid-area: header;
    z-index:1;
    position: fixed;
    width:100vw;
    color: var(--glavnaBoja);
    background-color: rgba(20,20,20,0.96);
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/* NAV*/
.nav-logo{
    padding:20px 0 20px 25px;
}

.nav-logo:hover img{
    opacity: 0.8;
    transition: 750ms;
}

.nav-logo img{
    width:200px;
    height:50px;
    transition: 500ms;
}

.nav-logo:hover{
    cursor: pointer;
}

.nav-menu div{
    cursor: pointer;
    transition: 500ms;
}

.nav-menu div:hover{
    background-color: var(--glavnaBoja);
    transition: 750ms;
}

.nav-menu div:hover a{
    color:rgb(20,20,20);
    
}

.nav-link{
    text-decoration: none;
    color:var(--glavnaBoja);
}

#nav-upit{
    background-color:var(--glavnaBoja);
}

#nav-upit:hover{
    background-color: rgba(4,75,161,0.5);
}

#nav-upit a{
    color:rgb(20,20,20);
}

#nav-upit:hover a{
    color:black;
}

.nav-burger{
    background-color: transparent;
    font-size:32px;
    color: var(--glavnaBoja);
    outline: none;
    border: none;
    transition: 750ms;
}

.nav-burger:hover{
    background-color: rgba(4,75,161,0.5);
    color:rgb(20,20,20);
    transition: 750ms;
}

.burger-animation{
    transform: rotate(180deg);
    transition: 400ms;
}

/* Laptop i desktop racunar  nav*/
@media (min-width:1025px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-logo{
        display: flex;
        align-items: center;
    }

    .nav-menu{
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
    }

    .nav-menu div{
        display:flex;
        align-items: center;
    }


    .nav-burger{
        display: none;
    }

    .nav-menu div{
        padding:20px 40px;
    }

    .nav-link{
        width:100%;
    }

    ::-webkit-scrollbar{
        background-color: var(--glavnaBoja); 
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: #606fc7;
    }
    
}


/* Tablet i mobilni nav */
@media (max-width:1025px){
    header{
        grid-area: header;
        display: grid;
        grid-template-areas:"logo burger"
        "menu menu";
        grid-template-columns: auto 100px;
    }

    .nav-logo{
        grid-area: logo;
    }

    .nav-burger{
        grid-area: burger;
    }
    
    .nav-menu{
        display: none;
        grid-area: menu;
    }

    .donji-border{
        border-bottom: 4px solid var(--glavnaBoja);
        transition: 350ms !important;
    }

    .nav-menu-grid{
        display: grid !important;
        font-size: 22px;
        text-align: center;
    }

    .nav-menu-grid div{
        border-bottom:1px solid rgba(4,75,161,0.9);
    }

    .nav-link{
        margin:10px 30px;
    }

    .body-grid{
        grid-template-rows:310px auto auto;
    }

    ::-webkit-scrollbar{
        width:10px;
        background-color: rgba(20,20,20,0.96);
    }

    ::-webkit-scrollbar-thumb{
        background-color: var(--glavnaBoja); 
    }

    body{
        overflow-y: hidden;
    }

    body:active{
        overflow-y: scroll;
    }
}

/* Mobilni */
@media (max-width:600px) {
    .nav-menu{
        display: none;
    } 

    .nav-logo img{
        width: calc(100vw / 3);
    }

    
}

/* FOOTER */
footer{
    margin-top: 10px;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: rgb(20,20,20);
    color: var(--glavnaBoja);
    }
img{
    width: 125px;
}
.socials{
    display: grid;
    grid-template-columns: 125px auto;
    padding: 15px 10px 0px 10px;

}
.mreze{
   text-align: right;
   font-size: 30px;
   align-self: flex-end;
}
.mreze .fal{
padding: 10px;
}

.kopirajt{
    text-align: center ;
    align-self: flex-end;
}
@media (width<=340px){
    .socials{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .logof{
        display: grid;
        width: 125px;
        justify-self: center;
        align-self: center;
    }
    .mreze{
        text-align: center;
    }
}