:root {
    --glavnaBoja: #003da6;
    --pozadinska: rgb(225, 239, 255);
  }
body{
    margin:0;
    background-color:var(--pozadinska);
    overflow: hidden;
}

main{
    display:none;
    grid-template-areas:"logo"
    "jezici"
    "copyright";
    justify-items: center;
    gap:2rem;
    color:var(--glavnaBoja);
}




.loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.crno-za-animaciju{
    position:absolute;
    background-color: rgb(15,15,15);
    width:640px;
    height:200px;
    transition: 3500ms ease-in;
}

.logo-slika{
    grid-area:logo;
    margin-top:3rem;
    transition: 500ms ease-in;
}

.logo-slika img{
    /* width:clamp(50vw,75vw,700px);
    aspect-ratio: 4; */
    width: 300px;
    height: 300px;
}

.jezici{
    grid-area:jezici;
    margin:15vh auto 3vh;
    display: flex;
    flex-direction: row;
    width:85%;
    align-items: center;
    justify-content: space-between;
    transition:3500s ease-in;
    opacity: 0;
}

.aktivan{
    opacity:1;
    transition: 3500ms ease-out;
}

.jezici div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:2.8rem;
    color:var(--glavnaBoja);
    font-family: 'Titillium web', sans-serif;
}

.dugme-jezik{
    width:250px;
    height:200px;
    border-radius:15%;
    border:5px solid black;
    padding:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    box-shadow:6px 6px rgba(0,0,0,0.5);
}

.dugme-jezik:hover{
    opacity:0.75;
}

#srpski-jezik{
    background-image:url("../Slike/zastava-srbije-grb.png");
}

#engleski-jezik{
    background-image:url("../Slike/zastava-uk.png");
}

#ruski-jezik{
    background-image:url("../Slike/zastava-rusije.png");
}

.copyright{
    grid-area: copyright;
    color:rgba(255,255,255);
    font-size:1.25rem;
    margin-bottom: 20px;
}

.pomeri-nagore{
    margin-bottom:30px;
}

.pomeri-nadole{
    margin-top:30px;
}

@media (min-width:955px){
    .logo-loading img{
        width:600px;
        aspect-ratio: 4;
    }
}



/* Tablet i mobilni */
@media (max-width:955px){
    .jezici{
        flex-direction: column;
        gap:50px;
    }

    .dugme-jezik{
        width:70vw;
        height:50vh;
    }

    .jezici div{
        font-size:2rem;
    }

    body{
        overflow-y: scroll;
    }

    ::-webkit-scrollbar{
        width:10px;
    }
    
    ::-webkit-scrollbar-track{
        margin:100px 0 10px;
    }
    
    ::-webkit-scrollbar-thumb{
        background-color:rgba(255, 2555, 255, 0.2);
        border-radius: 15px;
        height:60px;
    }
}

@media (max-width:500px){
    .dugme-jezik{
        width:75vw;
        height:60vw;
    }

    .logo-loading img{
        width:70vw;
        aspect-ratio: 4;
    }
    
    .crno-za-animaciju{
        width:80vw;
    }
}
