:root {
    --glavnaBoja: #003da6;
    --pozadinska: rgb(225, 239, 255);
    --footerBoja: #001e51;
}
main{
    background-color: var(--pozadinska);
}
#nastim{
    visibility: hidden;
    margin-top: 250px;
}
hr{
    color: #010b0c;
    width: 29.5%;
    margin-left: auto;
    margin-right: auto;
}
#faq-hr{
    color: #010b0c;
    width: 42.5%;
    margin-left: auto;
    margin-right: auto;
}
.pocetni-deo{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    min-height: 65ch;
    color:#fff;
    align-items: center;
    justify-content: center;
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/462/048/large_2x/business-partnership-meeting-concept-and-business-handshake-free-photo.jpg");
    background-size: cover;
    background-position: center;
    text-align: center ;
}
.pocetni-slika{
    width:100%;
    height:100%;
    position: absolute;
    background: linear-gradient(
        hsl(0 0% 0%/0),
        hsl(20 0% 0%/0.2) 50%,
        hsl(40 0% 0%/0.4) 75%,   
        hsl(0 0% 0%/1)
        ); 
    font-size: 0;
}
.pocetni-deo > h1{
    font-size: 4.25rem;
    margin:4rem 0 1.5rem;
}

/* SEKCIJA CLANOVI TIMA */

.timski-deo{
    text-align: center;
}
.timski-deo > h2{
    font-weight: 700;
    font-size: 2.75rem;
}
.clanovi-tima{
    display: flex;
    flex-direction: row;
    margin: 5%;
    justify-content: center;
    gap: 3rem;
}

.clan > h3{
    margin: 1.5rem 0 0.75rem;
    font-weight: 700;
    font-size: 1.75rem;
}
.clan > p{
    font-size: 1.25rem;
}
.clan>img{
    border: 1px solid black;
    width: 135px;
    height: 135px;
    border-radius: 100%;
    background-color: #adadad;
}

.reveal{
    position: relative;
    transform: translateY(350px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

.prvi{
    transition-delay: 200ms;
}
.drugi{
    transition-delay: 400ms;
}
.treci{
    transition-delay: 600ms;
}
.cetvrti{
    transition-delay: 800ms;
}


/* SEKCIJA FAQ */

.faq-deo > h2{
    margin: 1.5rem 0 0.75rem;
    font-weight: 700;
    font-size: 2.75rem;
    text-align: center;
}
.pitanja{
    display: flex;
    flex-direction: column;
}
.pitanje{
    position: relative;
    border: 2px solid var(--pozadinska);
    border-radius: 10px;
    width: fit-content;
    padding: 1rem 1.5rem;
    margin:1rem 10%;
    transition: 500ms;
    background-color: var(--glavnaBoja);
    color:white;
}

.pitanje h3{
    display: inline;
    font-size: 2.25rem;
    font-weight: 600;
    text-decoration: underline;
}

.odgovor{
    font-size: 1.25rem;
    font-weight: 400;
}

/* .nepar div{
    margin-top: 30px;
}

.nepar h3{
    float: right;
}
 */
@media (max-width:1200px){
    #nastim{
        margin-top: 365px;
    }
    .pocetni-deo{
        min-height: 60vw;
    }
    main{
        overflow: hidden;
    }
    .timski-deo>hr{
        width: 350px;
    }
    .timski-deo > h2{
        font-weight: 700;
        font-size: 2.15rem;
    }
    .clanovi-tima{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 5%;
        justify-content: center;
        gap: 1.15rem;
    }
    
    .clan > h3{
        margin: 1.5rem 0 0.75rem;
        font-weight: 700;
        font-size: 1.75rem;
    }
    .clan > p{
        font-size: 1.35rem;
    }
    

}
@media (max-width:700px){
    #nastim{
        margin-top: 185px;
    }
    .pocetni-deo{
        min-height: 70vw;
    }

    .pocetni-deo h1{
        font-size:3.5rem;
        z-index: 5;
    }

    .pocetni-deo h2{
        font-size:1.5rem;
        z-index: 5;
    }

    .pocetni-slika{
        background: linear-gradient(
        hsl(0 0% 0%/0),
        hsl(20 0% 0%/0.15) 50%,
        hsl(40 0% 0%/0.4) 85%,   
        hsl(0 0% 0%/1)
        ); 
    }

    .clanovi-tima{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: 5%;
        justify-content: center;
        gap: 1rem;
    }
    
    .clan > h3{
        margin: 1.5rem 0 0.75rem;
        font-weight: 700;
        font-size: 1.5rem;
    }
    .clan > p{
        font-size: 1.25rem;
    }
    .clan>img{
        width:100px;
        height: 100px;
    }
    .faq-deo>h2{
        font-size: 2.5rem;
    }
}

@media (max-width: 500px){
    .pocetni-deo{
        min-height:75vw;
    }

    .pocetni-deo h1{
        font-size:2.75rem;
    }

    .pocetni-deo h2{
        font-size: 1.25rem;
    }
}