.kartice{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color:white;
}
h4{
    font-size: 2.75rem;
}
.kartice{
    padding: 25px 20px 0;
}
.drum{
    display: grid;
}
.avio{
    display: grid;
}
.brod{
    display: grid;
}
.carina{
    display: grid;
}
.skladiste{
    display: grid;
}
.zbirni{
    display: grid;
}
.ikonica{
    text-align: center;
}
.tekst{
    text-align: center;
}

.kartica{
    margin: 20px;
    padding: 15px;
    background-color: var(--glavnaBoja);
    border-radius: 7.5%;
    border: 2px solid rgba(20,20,20,0.5);
    font-size: 1.5rem;
}
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

@media (505px <= width < 784px) {
    .kartice{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media (width<505px){
    .kartice{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}