body{
    background-color: bisque;
}
.kartice{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.kartice div{
    border-radius: 15px;
}
.drum{
    display: grid;
}
.avio{
    display: grid;
}
.brod{
    display: grid;
}
.carina{
    display: grid;
}
.sklad{
    display: grid;
}
.zbirni{
    display: grid;
}
.ikonica{
    text-align: center;
}
.tekst{
    text-align: center;
}
.kartica{
    margin: 10px;
    padding: 10px;
    background-color: white;
}

@media (505px <= width < 784px) {
    .kartice{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
@media (width<505px){
    .kartice{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}